
cubical/data/textures/.DS_Store
cubical/data/textures/.DS_Store
cubical/data/textures/.DS_Store
cubical/data/textures/easy/.DS_Store
alpha/.DS_Store
alpha/.ipynb_checkpoints/ecc_distance_example-checkpoint.ipynb
alpha/__pycache__/bifiltrations_alpha.cpython-38.pyc
